<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<link rel="shortcut icon" type="x-icon" href="{{ '/favicon.ico' }}" >
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' }}">
<link rel="manifest" href="/site.webmanifest">

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="The RECeSS project"/>
<meta name="twitter:title" content="https://recess-eu-project.github.io"/>
<meta name="twitter:description" content="Robust Explainable Controllable Standard for drug Screening (RECeSS) - Follow the progress of the RECeSS research project, and discuss it with us on social media!"/>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']]
    }
  };
</script>

<!--Google tag (gtag.js)-->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.analytics.google.tracking_id }}', {'cookie_flags': 'SameSite=None; Secure', 'anonymize_ip': {{ site.analytics.google.anonymize_ip | default: false }});
</script>

<!--<script>
  function loadGAonConsent() {

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    window.dataLayer = window.dataLayer || [];

    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google.tracking_id }}', {'cookie_flags': 'SameSite=None; Secure', 'anonymize_ip': {{ site.analytics.google.anonymize_ip | default: false }}
    });

}

</script>-->